@import "mixins";
@import "variables";

.article-header_image {
  position: relative;
  img {
    display: block;
    max-width: 100%;
  }
  &:after {
    content: '';
    display: block;
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient( 0deg, rgb(6,30,56) 0%, rgba(6,30,56,0) 100%);
  }
}
.article-date {
  @include respond($mobile-breakpoint) {
    font-size: 18px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 16px;
  }
  font-weight: $regular;
  line-height: 1.722;
  .date {
    color: $gray-font;
  }
}

.page-text_content {
  @include respond($mobile-breakpoint) {
    padding: 51px 0 160px 110px;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 30px 0 50px 0;
  }
  h2 {
    color: $navy;
    @include respond($mobile-breakpoint) {
      font-size: 21px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 18px;
    }
    font-weight: $regular;
    line-height: 1.619;
  }
}

.heading-article {
  @include respond(0, $mobile-breakpoint) {
    .slider-pagination {
      margin-top: 25px;
    }
  }
  @include respond($mobile-breakpoint) {
    display: flex;
    justify-content: space-between;
  }
}

.cards-slider_block {
  @include respond($mobile-breakpoint) {
    padding: 80px 0 55px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 40px 0 50px 0;
  }
  .cards-slider {
    @include respond($mobile-breakpoint) {
      margin-top: 50px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-top: 35px;
    }
  }
  .card {
    background: $white;
    margin-bottom: 85px;
    min-height: 622px;
  }
}