@import "variables";
@import "mixins";
@import "fonts";

.pure-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.blue-btn {
  background: $blue;
  color: $white;
  height: 60px;
  padding: 0 42px 0 37px;
  display: inline-flex;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  @include link-style;
  font-size: 16px;
  font-weight: $regular;
  letter-spacing: .7px;
  svg {
    fill: $white;
    margin-left: 18px;
    display: block;
  }
}

.transparent-btn {
  background: transparent;
  color: transparentize($navy, .5);
  height: 60px;
  padding: 0 31px 0 36px;
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid $button-border;
  @include link-style;
  font-size: 16px;
  font-weight: $regular;
  letter-spacing: .7px;
  svg {
    fill: transparentize($navy, .5);
    margin-left: 18px;
    display: block;
  }
}