@import "variables";
@import "mixins";
@import "fonts";

.blue-btn {
  background: $blue;
  color: $white;
  height: 60px;
  padding: 0 29px 0 36px;
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  @include link-style;
  font-size: 16px;
  font-weight: $regular;
  letter-spacing: .7px;
  &:hover {
    svg {
      transform: translateX(8px);
    }
  }
  svg {
    transition: transform 280ms ease;
    fill: $white;
    margin-left: 20px;
    display: block;
  }
}