@import "variables";
@import "mixins";

.catalog-block {
  @include respond($mobile-breakpoint) {
    padding: 62px 0 136px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 40px 0 60px 0;
  }
  .manufacturer-heading {
    margin-bottom: 23px
  }
  .catalog-grid {
    margin-top: 36px;
  }
}

.catalog-grid {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 68px;
  @include respond(900px) {
    grid-template-columns: 1fr 1fr;
  }
  .catalog-cell_image {
    height: 355px;
    overflow: hidden;
    text-align: center;
    background: $catalog-cell;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    img {
      transform: translateY(40px);
      display: inline-block;
      max-width: 100%;
    }
  }
  .catalog-cell_categories {
    font-weight: $light;
    margin-bottom: 33px;
    color: $gray-font;
    line-height: 1.813;
    a {
      @include link-style;
      letter-spacing: .1px;
      transition: color 200ms ease, border 200ms ease;
      padding-bottom: 3px;
      color: $gray-font;
      border-bottom: 1px solid $white;
      &:hover {
        color: $navy;
        border-bottom: 1px solid;
      }
    }
  }
  .catalog-cell_title {
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1.556;
    font-weight: $medium;
    color: $navy;
    @include link-style;
    @include color-transition;
    &:hover {
      color: $blue;
    }
    margin: 23px 0 15px 0;
    display: inline-block;
    letter-spacing: .7px;
  }
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  @include respond(760px, 940px) {
    justify-content: space-between;
  }
}

.blue-btn_tab {
  box-sizing: border-box;
  margin-bottom: 25px;
  background: $white;
  color: transparentize($navy, .5);
  @include link-style;
  height: 50px;
  border: 1px solid $tab-border;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: background-color 200ms ease, border 200ms ease, color 200ms ease;
  &:hover,
  &.active {
    background: $blue;
    border-color: $blue;
    color: $white;
  }
  @include respond(760px, 940px) {
    width: calc(50% - 10px);
  }
  @include respond(0, 760px) {
    width: 100%;
  }
  &:not(:last-child) {
    @include respond(940px) {
      margin-right: 20px;
    }
  }
}

.favorite-toggle_heart {
  fill: $heart-gray;
  transition: fill 200ms ease;
  &-active,
  &:hover {
    fill: $blue;
  }
}

.products-wrapper {
  .product-card {
    display: flex;
    flex-direction: column;
    transition: box-shadow 200ms ease;
    &:hover {
      box-shadow: 0 30px 54px 6px rgba(9, 47, 87, 0.11);
    }
    .product-image {
      text-align: center;
      height: 270px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .product-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 21px;
      width: 100%;
    }
    .product-excerpt {
      font-size: 16px;
      color: $gray-font;
      font-weight: $regular;
      line-height: 1.813;
      padding-top: 13px;
      flex: 1;
    }
    .product-name {
      font-size: 21px;
      color: $navy;
      line-height: 1.619;
      text-decoration: none;
      display: inline-block;
      @include color-transition;
      &:hover {
        color: $blue;
      }
    }
    .product-content {
      padding: 27px 40px 45px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .product-brand {
      font-size: 15px;
      color: $gray-font;
      font-weight: $regular;
      line-height: 2.067;
      @include link-style;
      @include color-transition;
      &:hover {
        color: $blue;
      }
    }
  }
}