@import "variables";
@import "mixins";

.favorite-block {
  flex: 1;
  @include respond($mobile-breakpoint) {
    padding-bottom: 145px;
    padding-top: 82px;
  }
  @include respond(0, $mobile-breakpoint) {
    padding-bottom: 45px;
    padding-top: 40px;
  }
  .favorite-subheading {
    font-size: 18px;
    font-weight: $light;
    color: transparentize($navy, .35);
    @include respond($mobile-breakpoint) {
      margin-bottom: 55px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-bottom: 35px;
    }
  }
}

.favorite-links {
  @include respond(800px) {
    a:first-child {
      margin-right: 20px;
    }
  }
  @include respond(0, 800px) {
    flex-direction: column;
    a:first-child {
      margin-bottom: 20px;
    }
  }
  display: flex;
  margin-top: 60px;
}