$blue: #0090f0;
$gray-font: #929ba9;
$navy: #092f57;
$white: #fff;

$asphalt: #f7f7f9;
$document-icon: #c8cdd4;
$tab-border: #c8cdd4;
$button-border: #c8cdd4;

$bold: bold;
$medium: 500;
$regular: 300;
$light: 300;

$mobile-breakpoint: 1024px;
$history-gray: #d9dfe5;
$heart-gray: #d9dfe5;

$catalog-cell: #f3f3f6;
$commercial-overlay: transparentize(#091d32, .25);

$select-border: #d4dae0;