@import "variables";
@import "fonts";
@import "selectric";
@import "leaflet";
@import "buttons";
@import "favorite";
@import "mixins";
@import "swiper-bundle";
@import "article";
@import "commercial-offer";
@import "menu";
@import "about";
@import "documents";
@import "catalog";
@import "geography";
@import "service";
@import "news";
@import "form";

.checkbox {
  font-weight: $regular;
  cursor: pointer;
  padding-left: 38px;
  position: relative;
  padding-top: 2px;
  letter-spacing: .2px;
  color: $gray-font;
  line-height: 1.875;
  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 4px;
    width: 25px;
    height: 25px;
  }
  input:checked + span {
    background: $blue url(../img/sprite.svg#checkbox) no-repeat center / 15px;
  }
  span {
    width: 25px;
    height: 25px;
    border: 2px solid $blue;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
  }
  a {
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid transparentize($blue, .5);
  }
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: $navy;
  color: $white;
  padding: 8px;
  z-index: 100;
}

.heading {
  @include respond($mobile-breakpoint) {
    font-size: 48px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 27px;
  }
  font-weight: $regular;
  letter-spacing: .5px;
  margin-bottom: 24px;
}

.burger {
  width: 35px;
  height: 24px;
  background: $white;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;

  @include respond(0, $mobile-breakpoint) {
    margin-left: 30px;
  }
  @include respond($mobile-breakpoint) {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 40px;
  }

  &:hover {
    .burger-line {
      background: $blue;
    }
  }
  &-line {
    @include bg-transition();
    height: 2px;
    display: block;
    width: 100%;
    background: $navy;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.skip-link:focus {
  top: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: Stem, sans-serif;
  color: $navy;
  background: $white;
}

.heading-medium {
  font-size: 30px;
  font-weight: $regular;
  line-height: 1.867;
}

.map-wrapper {
  @include respond($mobile-breakpoint) {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .phone-list_block {
    .phone-element {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      a {
        @include color-transition;
        color: $navy;
        &:hover {
          color: $blue;
        }
        @include respond($mobile-breakpoint) {
          font-size: 40px;
        }
        @include respond(0, $mobile-breakpoint) {
          font-size: 24px;
        }
        font-weight: $bold;
        letter-spacing: 1px;
        @include link-style;
      }
    }
  }
  .map-communications {
    @include respond($mobile-breakpoint) {
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &_block {
      @include respond($mobile-breakpoint) {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-top: 84px;
      }
      @include respond(0, $mobile-breakpoint) {
        padding: 40px 0;
      }
    }
    .name-element {
      @include respond($mobile-breakpoint) {
        font-size: 42px;
      }
      @include respond(0, $mobile-breakpoint) {
        font-size: 34px;
      }
      font-weight: $regular;
      line-height: 1.333;
      letter-spacing: .5px;
    }
    .label-element {
      font-weight: $bold;
      font-size: 1rem;
      text-transform: uppercase;
      color: $blue;
      margin-top: 42px;
      letter-spacing: 1.6px;
      margin-bottom: 1rem;
      &_padding {
        padding-top: 8px;
      }
    }
    .value-element {
      @include respond($mobile-breakpoint) {
        font-size: 21px;
      }
      @include respond(0, $mobile-breakpoint) {
        font-size: 18px;
      }
      font-weight: $regular;
      line-height: 1.619;
      .email-link {
        color: $navy;
        border-bottom: 1px solid $blue;
        padding-bottom: 7px;
        @include link-style;
        @include color-transition;
        &:hover {
          color: $blue;
        }
      }
    }
    .map-container {
      @include respond($mobile-breakpoint) {
        display: flex;
      }
    }
  }
  #map {
    @include respond($mobile-breakpoint) {
      height: 860px;
      width: 50%;
    }
    @include respond(0, $mobile-breakpoint) {
      height: 300px;
    }

  }
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}


.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;

  @include respond(0, 1386px) {
    max-width: 1330px;
    margin: auto;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .app-inner {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    .footer {
      flex: 0 0 auto;
    }
  }
}

header,
footer {
  .communications {
    .phone-link {
      @include link-style;
      @include color-transition();
      color: $navy;
      &:hover {
        color: $blue;
      }
    }
    .email-link {
      color: $gray-font;
      border-bottom: 1px solid;
    }
  }
}

.communications {
  .phone-link {
    @include link-style;
    @include color-transition();
    font-family: "Open Sans Bold", sans-serif;
    font-size: 20px;
    line-height: 1.6;
  }
  .email-link {
    @include link-style;
    font-weight: $regular;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1px;
  }
}

.liquid {
  display: flex;
  align-items: center;
}

header {
  .app-navigation_block {
    @include respond($mobile-breakpoint) {
      position: absolute;
      right: 40px;
    }
  }
}

.app-navigation_block {
  display: flex;
  align-items: center;
  a {
    display: inline-block;
  }
  &--white {
    svg {
      fill: $white;
    }
  }
  &--navy {
    svg {
      fill: $navy;
    }
  }
  svg {
    display: block;
  }
}

.magnifying-icon {
  transform: scale(-1, 1);
}

.favorite-link {
  margin-right: 30px;
  &_pin {
    position: relative;
    &:after {
      content: '';
      width: 11px;
      height: 11px;
      background: $blue;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 4px;
      right: 1px;
    }
  }
}

header {
  @include respond(400px) {
    height: 115px;
  }
  @include respond(0, 400px) {
    height: 90px;
  }
  .logo-link {
    @include respond(0, $mobile-breakpoint) {
      margin-right: 35px;
    }
  }
  nav {
    @include respond(0, $mobile-breakpoint) {
      display: none;
    }
    padding-top: 5px;
    margin-left: auto;
    @include respond(0, 1270px) {
      margin-right: 50px;
    }
    a {
      &:not(:last-child) {
        @include respond(1074px) {
          margin-right: 50px;
        }
        @include respond(0, 1074px) {
          margin-right: 35px;
        }
      }
    }
  }
  .container {
    @include respond($mobile-breakpoint, 1547px) {
      margin-left: 105px;
      margin-right: 105px;
    }
  }
  .communications {
    @include respond($mobile-breakpoint) {
      margin-left: auto;
    }
    @include respond($mobile-breakpoint, 1660px) {
      padding-right: 50px;
    }
    @include respond(0, 1270px) {
      display: none;
    }
  }
  .logo {
    @include respond(0, $mobile-breakpoint) {
      margin-right: auto;
    }
  }
  .logo-text {
    @include respond(0, 1660px) {
      display: none;
    }
  }
}

footer {
  @include respond($mobile-breakpoint) {
    height: 115px;
    .communications {
      margin-left: auto;
    }
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 30px 0;
    .logo {
      flex-direction: column;
    }
  }
  nav {
    @include respond(0, $mobile-breakpoint) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 0;
    }
    @include respond($mobile-breakpoint) {
      padding-top: 5px;
      margin-left: auto;
    }
    a {
      &:not(:last-child) {
        @include respond($mobile-breakpoint) {
          margin-right: 50px;
        }
        @include respond(0, $mobile-breakpoint) {
          margin-bottom: 14px;
        }
      }
    }
  }
  .liquid {
    @include respond(0, $mobile-breakpoint) {
      flex-direction: column;
    }
  }
  .communications {
    @include respond(0, $mobile-breakpoint) {
      text-align: center;
    }
  }
  .logo-text {
    @include respond($mobile-breakpoint, 1280px) {
      display: none;
    }
  }
}

nav {
  a {
    @include color-transition();
    font-weight: $medium;
    text-decoration: none;
    color: $navy;
    letter-spacing: .1px;
    &:hover,
    &.active {
      color: $blue;
    }
  }
}

.text-center {
  text-align: center;
}

.app-panel {
  display: flex;
  align-items: center;
  position: relative;
}

.marker-line {
  position: relative;
  margin-top: 16px;
  display: block;
  &:before {
    content: '';
    height: 1px;
    width: 60px;
    display: block;
    background: $blue;

    @include respond($mobile-breakpoint) {
      margin-bottom: 24px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin-bottom: 18px;
    }
  }
}

.asphalt {
  background: $asphalt;
}

.page-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.equipment-slider_block {
  @include respond($mobile-breakpoint) {
    padding: 100px 0 150px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 40px 0;
  }

  .equipment-slider {
    margin-top: 48px;
  }
}

.technical-wrapper {
  padding-top: 40px;
}

.page-panel {
  background: $navy url(../img/grid-background.png) no-repeat center / cover;

  &:not(&_mini) {
    @include respond($mobile-breakpoint) {
      padding: 48px 0 72px 0;
    }
    @include respond(0, $mobile-breakpoint) {
      padding: 42px 0 33px 0;
    }
  }
  &_mini {
    padding: 38px 0;
  }

  color: $white;
  .page-title {
    @include respond($mobile-breakpoint) {
      font-size: 60px;
      margin-top: 56px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 36px;
      margin-top: 30px;
    }
    font-weight: $regular;
    line-height: 1.233;
    letter-spacing: .5px;
    margin-bottom: 20px;
  }

  .page-description {
    @include respond($mobile-breakpoint) {
      font-size: 21px;
      margin-bottom: 48px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 18px;
    }
    font-weight: $regular;
    line-height: 1.667;
  }
}

.brand-products_block {
  @include respond($mobile-breakpoint) {
    padding: 80px 0 162px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 40px 0 50px 0;
  }
}

.detail-link {
  color: $navy;
  @include link-style;
  letter-spacing: .8px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  svg {
    margin-left: 20px;
  }
}

.search-link {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.seo-block {
  @include respond($mobile-breakpoint) {
    padding: 90px 0 138px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 40px 0 60px 0;
  }
  .seo-subheading {
    font-size: 21px;
    font-weight: $regular;
    line-height: 1.7;
    margin-bottom: 13px;
  }
  .seo-text {
    font-weight: $light;
    color: transparentize($navy, .35);
    line-height: 1.722;
    margin-bottom: 30px;
    @include respond($mobile-breakpoint) {
      padding-right: 108px;
      font-size: 18px;
    }
    @include respond(0, $mobile-breakpoint) {
      font-size: 16px;
    }
  }
}

.breadcrumbs {
  line-height: 1.7;
  span {
    color: $gray-font;
  }
  a {
    color: $white;
  }
  a,
  span {
    font-size: 15px;
    font-weight: $regular;
    @include link-style;
  }
  .breadcrumbs-separator {
    @include respond($mobile-breakpoint) {
      margin: 0 14px;
    }
    @include respond(0, $mobile-breakpoint) {
      margin: 0 8px;
    }
    fill: $white;
    transform: translateY(2px);
  }
}

.logo {
  display: flex;
  align-items: center;
  .logo-text {
    position: relative;
    color: $gray-font;
    max-width: 234px;
    font-weight: $regular;
    line-height: 1.5;
    transform: translateY(4px);
    @include respond(0, $mobile-breakpoint) {
      padding-top: 20px;
      text-align: center;
    }
    @include respond($mobile-breakpoint) {
      margin-left: 20px;
      padding-left: 20px;
      &:before {
        position: absolute;
        content: '';
        width: 1px;
        left: 0;
        top: 4px;
        bottom: 4px;
        background: transparentize($navy, .7);
      }
    }
  }
  .logo-link {
    display: inline-block;
    svg {
      display: block;
      max-width: 100%;
      fill: $blue;
    }
  }
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  @include respond(760px, 940px) {
    justify-content: space-between;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 60px;
  svg {
    display: block;
    fill: transparentize($navy, .5);
    transition: fill 200ms ease;
  }
  .prev {
    svg {
      transform: rotate(180deg);
    }
  }
  .prev {
    margin-right: 18px;
  }
  .next {
    margin-left: 18px;
  }
  a {
    &.active {
      font-size: 21px;
      color: $blue;
    }
    &:not(.prev):not(.next) {
      margin: 0 15px;
    }
    color: $navy;
    font-size: 18px;
    font-weight: $regular;
    display: inline-block;
    text-decoration: none;
    @include color-transition;
    &:hover {
      color: $blue;
      svg {
        fill: $navy;
      }
    }
  }
}

.blue-btn_tab {
  box-sizing: border-box;
  margin-bottom: 25px;
  background: inherit;
  color: transparentize($navy, .5);
  @include link-style;
  height: 50px;
  border: 1px solid $tab-border;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: background-color 200ms ease, border 200ms ease, color 200ms ease;
  &:hover,
  &.active {
    background: $blue;
    border-color: $blue;
    color: $white;
  }
  @include respond(760px, 940px) {
    width: calc(50% - 10px);
  }
  @include respond(0, 760px) {
    width: 100%;
  }
  &:not(:last-child) {
    @include respond(940px) {
      margin-right: 20px;
    }
  }
}

.slider-pagination {
  display: flex;
  align-items: center;

  .swiper-pagination {
    margin: 0 38px;
    font-size: 0;
  }
}

.swiper-button-next,
.swiper-button-prev {
  svg {
    transition: fill 200ms ease;
    fill: transparentize($navy, .5);
  }
  &:hover {
    svg {
      fill: $navy;
    }
  }
}

.swiper-button-prev {
  svg {
    transform: rotate(180deg);
  }
}

.text-content {
  color: $gray-font;
  @include respond($mobile-breakpoint) {
    font-size: 18px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 16px;
  }
  line-height: 1.722;
  font-weight: $light;

  img {
    max-width: 100%;
  }

  a {
    color: $blue;
    border-bottom: 1px solid;
    text-decoration: none;
  }

  ol {
    counter-reset: numbers;
    margin: 25px 0;
    li {
      position: relative;
      counter-increment: numbers;
      padding-left: 38px;
      margin-bottom: 10px;
      &:before {
        content: "0" counter(numbers) ".";
        display: block;
        font-weight: $medium;
        font-size: 18px;
        color: $blue;
        left: 0;
        top: 0;
        position: absolute;
      }
    }
  }

  ul {
    margin: 0 0 37px 41px;
    padding: 7px 0 0 0;
    li {
      padding-left: 38px;
      margin-bottom: 10px;
      position: relative;
      line-height: 1.722;
      letter-spacing: .45px;
      &:before {
        content: '';
        background: url(../img/li.png) no-repeat center / 13px 15px;
        display: block;
        width: 13px;
        left: 0;
        @include respond($mobile-breakpoint) {
          top: 8px;
        }
        @include respond(0, $mobile-breakpoint) {
          top: 7px;
        }
        height: 15px;
        position: absolute;
      }
    }
  }

  p img,
  img {
    margin: 24px 0;
  }

  ul, li {
    list-style: none;
  }
}

.page-text_title {
  position: relative;
  letter-spacing: .5px;
  font-weight: $regular;
  line-height: 1.167;
  margin: 14px 0 25px;
  @include respond($mobile-breakpoint) {
    font-size: 48px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 34px;
  }
  @include respond($mobile-breakpoint) {
    &:before {
      content: '';
      width: 80px;
      height: 1px;
      background: transparentize($navy, .7);
      display: block;
      position: absolute;
      right: calc(100% + 28px);
      top: 26px;
    }
  }
}

.gallery-top {
  width: 100%;
  .swiper-slide {
    background-position: center;
    @include respond(650px) {
      height: 430px;
    }
    @include respond(0, 650px) {
      height: 335px;
    }
  }
}

.gallery-thumbs {
  box-sizing: border-box;
  margin-top: 15px;
  .swiper-slide {
    background-repeat: no-repeat;
    height: 66px;
    cursor: pointer;
    background-color: $white;
  }
}

.product-top_block {
  @include respond($mobile-breakpoint) {
    padding: 60px 0 100px 0;
  }
  @include respond(0, $mobile-breakpoint) {
    padding: 60px 0;
  }
  .swiper-button-prev {
    left: 25px;
  }
  .swiper-button-next {
    right: 25px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: 22px;
    height: 32px;
    display: block;
    z-index: 1000;
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  box-shadow: inset 0 0 0 1px $blue;
}

.product-slider {
  display: flex;

  @include respond($mobile-breakpoint) {
    flex-grow: 1;
    min-width: 0;
  }
  @include respond(0, $mobile-breakpoint) {
    flex-direction: column-reverse;
  }

  .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-color: $white;
    background-size: contain;
  }

  .column {
    &:first-child {
      box-sizing: border-box;
      width: 100%;
      @include respond(1200px) {
        max-width: 590px;
        padding-right: 70px;
      }
      @include respond($mobile-breakpoint, 1200px) {
        max-width: 520px;
        padding-right: 35px;
      }
      @include respond(0, $mobile-breakpoint) {
        margin-top: 35px;
      }
    }
    &:last-child {
      flex: 1;
    }
  }
}

.product-links {
  margin-top: 60px;
  @include respond(1080px) {
    display: flex;
    justify-content: space-between;
  }
  .product-links_element {
    min-height: 80px;
    border: 1px solid $blue;
    box-sizing: border-box;
    @include respond(1080px) {
      width: calc(50% - 5px);
    }
    &:first-child {
      @include respond(0, 1080px) {
        margin-bottom: 10px;
      }
    }
    display: flex;
    line-height: 1.619;
    align-items: center;
    font-size: 21px;
    font-weight: $regular;
    color: $navy;
    padding: 20px;
    justify-content: center;
    text-decoration: none;
    transition: background 200ms ease, color 200ms ease;
    &.active,
    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

.table-options_block {
  border: 2px solid $blue;
  padding: 0 40px;
  box-sizing: border-box;
  max-width: 1070px;
  .table-row {
    @include respond($mobile-breakpoint) {
      display: flex;
    }
    @include respond(0, $mobile-breakpoint) {
      padding: 18px;
    }
    &.hidden {
      display: none;
    }
    .column {
      @include respond($mobile-breakpoint) {
        padding: 18px;
      }
      font-weight: $regular;
      &:first-child {
        @include respond($mobile-breakpoint) {
          max-width: 58%;
          width: 100%;
        }
        @include respond(0, $mobile-breakpoint) {
          margin-bottom: 7px;
        }
        font-weight: $medium;
      }
      &:last-child {
        color: $gray-font;
      }
    }
    &:nth-child(even) {
      background: $asphalt;
    }
  }
}

.append-options {
  text-transform: uppercase;
  height: 73px;
  box-sizing: border-box;
  border: 2px solid $blue;
  border-top: none;
  width: 100%;
  text-align: left;
  max-width: 1070px;
  color: $blue;
  font-weight: $medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .label {
    padding-left: 58px;
  }
  .icon {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid $blue;
  }
  svg {
    fill: $blue;
    transform: rotate(90deg);
  }
}

.product-title {
  font-weight: $regular;
  line-height: 1.316;
  margin: 0 0 8px;
  @include respond($mobile-breakpoint) {
    font-size: 38px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 30px;
  }
}

.product-buttons {
  @include respond(650px) {
    display: flex;
    align-items: center;
  }
  @include respond(0, 650px) {
    .blue-btn {
      margin-bottom: 15px;
    }
  }
  margin-top: 40px;
  a {
    &:first-child {
      margin-right: 20px;
    }
  }
}

.product-brand {
  color: $blue;
  font-size: 18px;
  line-height: 1.667;
  font-weight: $regular;
}

.product-text {
  font-weight: $regular;
  font-size: 16px;
  line-height: 1.813;
  margin-top: 22px;
}

.title-medium {
  position: relative;
  letter-spacing: .5px;
  font-weight: $regular;
  line-height: 1.474;
  margin: 14px 0 25px;
  @include respond($mobile-breakpoint) {
    font-size: 38px;
  }
  @include respond(0, $mobile-breakpoint) {
    font-size: 24px;
  }
  @include respond($mobile-breakpoint) {
    &:before {
      content: '';
      width: 80px;
      height: 1px;
      background: transparentize($navy, .7);
      display: block;
      position: absolute;
      right: calc(100% + 28px);
      top: 26px;
    }
  }
}